body{
    font-size: 3em;
}
#counter {
    display: grid;
    grid-template-columns: 30% 30% 30%;
    grid-template-rows: 30% 30% 30%;
    height: 600px;
    justify-items: center;
    align-items: center;
}

#total {
    grid-column: 2/3;
    grid-row: 1/2;
    text-align: center;
}


#to-contribute {
    border: 1px solid grey;
    padding: 10px;
    grid-column: 2/3;
    grid-row: 2/3;
    text-align: center;
    width: 50%
}

#subtract {
    grid-row: 2/3;
    padding: 20px;
    width: 40%;
    background-color: grey;
    color:white;
}

#add {
    grid-row: 2/3;
    grid-column: 3/4;
    padding: 20px;
    width: 40%;
    background-color: grey;
    color:white;
}

#add:hover{
    background-color: white;
    border-color: grey;
    color: darkgray;
}

#subtract:hover{
    background-color: white;
    border-color: grey;
    color: darkgray;
}


